### 엑셀 텍스트 함수 구현하기

In [1]:
T_Str = "     Test string 입니다.     "

In [2]:
T_Str.upper()

'     TEST STRING 입니다.     '

In [3]:
T_Str.lower()

'     test string 입니다.     '

In [4]:
T_Str.swapcase()

'     tEST STRING 입니다.     '

In [5]:
T_Str.title()

'     Test String 입니다.     '

In [6]:
T_Str.strip()

'Test string 입니다.'

In [7]:
T_Str.lstrip()

'Test string 입니다.     '

In [8]:
T_Str.rstrip()

'     Test string 입니다.'

In [9]:
T_Str.find('t')

8

In [10]:
len(T_Str)

26

In [11]:
T_Str

'     Test string 입니다.     '

In [12]:
T_Str[:]

'     Test string 입니다.     '

In [13]:
T_Str[:10]

'     Test '

In [14]:
T_Str[17:]

'입니다.     '

In [15]:
T_Str[len(T_Str)-9:]

'입니다.     '

In [16]:
T_Str[10:17]

'string '

In [17]:
T_Str[::2]

'   etsrn 니.  '

In [18]:
T_Str[::-1]

'     .다니입 gnirts tseT     '

In [19]:
T_Str.replace('Test','테스트')

'     테스트 string 입니다.     '

In [32]:
import pandas as pd
df = pd.read_excel('C:/Data/Sample/1_6_Python_Excel/매출관리Sample_Mod.xlsx', sheet_name = 2)

In [33]:
df['단축강의명'] = df['강의명'].str.replace(" 강좌","")

In [34]:
df['단축강의명'] = df['강의명'].str[:4]

In [35]:
df['단축강의명'] = df['강의명'].apply(lambda x : x[:len(x)-3])

In [36]:
df2 = pd.read_excel('C:/Data/Sample/1_6_Python_Excel/매출관리Sample_Mod.xlsx', sheet_name = 1)

In [38]:
df2[['Name', 'Position']] = df2['이름'].str.split(' ', n=1, expand= True)